<%-include('layouts/header.ejs')%>

<section id="intro" class="section">  
    <%-include('sections/intro.ejs')%>  
</section>  

<section id="portfolio" class="section">  
    <%-include('sections/portfolio.ejs')%>  
</section>  

<section id="status" class="section">  
    <%-include('sections/status.ejs')%>  
</section>  

<section id="photo" class="section">  
    <%-include('sections/photo.ejs')%>  
</section>  

 <%-include('sections/contact.ejs')%>  


<!-- Back to Top 버튼 -->  
<a href="#intro" id="back-to-top">↑</a>  

<!-- 다크 모드 버튼 -->  
<button id="dark-mode-toggle">Switch to Dark Mode</button>

<%-include('layouts/footer.ejs')%>

<!-- Include scripts.js -->  
<script src="/js/scripts.js"></script>  
</body>  
</html>  