<%-include('layouts/header.ejs')%>

<%-include('sections/intro.ejs')%>  

<%-include('sections/portfolio.ejs')%>
  
<%-include('sections/status.ejs')%>
    
<%-include('sections/photo.ejs')%>

<%-include('sections/contact.ejs')%>

<!-- Back to Top 버튼 -->  
<a href="#intro" id="back-to-top">↑</a>  

<!-- 다크 모드 버튼 -->  
<button id="dark-mode-toggle">Switch to Dark Mode</button>

<%-include('layouts/footer.ejs')%>

<!-- Include scripts.js -->  
<script src="/js/scripts.js"></script>  
</body>  
</html>  